#card{
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#carrosel{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}

#text{
    margin-left: 5%;
    margin-right:5%;
    display: inline;
    position: relative;
}